<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/FinalProject</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">test</property>   <!-- zack password  -->
        <!-- <property name="hibernate.connection.password">7w4x2u7C</property>   <!- alex password  -->

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <!-- Entities -->
        <mapping class="Member"/>
        <mapping class="HealthMetric"/>
        <mapping class="FitnessGoal"/>
        <mapping class="PersonalTrainingSession"/>
        <mapping class="GroupFitnessClass"/>
        <mapping class="ClassRegistration"/>
        <mapping class="AdminStaff"/>
        <mapping class="AdminService"/>
        <mapping class="Room"/>
        <mapping class="Trainer"/>
        <mapping class="TrainerAvailability"/>
        <mapping class="TrainerService"/>
        <mapping class="DataInitializer"/>
        <mapping class="HibernateUtil"/>
        <mapping class="Main"/>
        <mapping class="MemberService"/>

    </session-factory>
</hibernate-configuration>
